body{
	font-family: 'Open Sans', sans-serif;
	color: #418cff;
	background-size: 100%;
}

p{
	font-size: 15px;
	font-weight:300;
	color: #ffffff;
}

label{
	font-size: 15px;
	font-weight:300;
	color: white;	
}

.material-icons{
	color: white;	
}

#file_attached{
	padding: 35px 10px 10px 10px;
}

.title{
	margin-top: 3%;
	font-size: 25px;
	font: bold;
	color: #ffffff;
}

.navbar{
	padding-left: 100;
	padding-bottom: 20;
	padding-top: 5;
	background-color: transparent;
}

.navbar p{
	font-size: 15px;
	text-align: right;
}

.navbar img{
	width: 25%;
}

#con1{
	margin-top: 1%;
	margin-bottom: 0%;
	border-radius: 37px;
	background-color: rgba(48, 48, 48, 0.94);
}

#card1{
	margin-top: 0%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
	
}

#card2{
	margin-top: 0%;
	margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%;
	
}

.row{
	margin-bottom: 3%;
}

#convert{
	border: 1px solid #C6C6C6;
	border-radius: 20px;
}

.input-group{
	margin-top: 2%;
	margin-bottom: 2%;
}

.btn {
	background-color: transparent;
	color: #418cff;;
	border-radius: 30px;
	color: white;
	padding: 20px 20px 20px 20px;
	text-decoration: none;
	font-size: 14px;
}

.p3{
	font-size: 15px;
	font-weight:300;
	color: #ffffff;
}
#temp{
	display: flex;
	text-align: -webkit-center;
}

#logo2{
	z-index: 0;
	width: 20%;
	position: absolute;
	opacity: 0.2;
	bottom: 0;
	left: 0;
}

#logo_black{
	z-index: 0;
	width: 6.2%;
	position: absolute;
	top: 2%;
	left: 1%;
}

#cilogo_black{
	z-index: 0;
	position: fixed;
	width: 6%;
	left: 0.3%;
	bottom: 0.5%;
	opacity: 0.44;
}

.nav-link{
	color: #ffffff;
}


#n1{
	position: absolute;
	width: 30%;
	top: -5%;
	left: -5%;
}

#n2{
	width: 17%;
	margin-bottom: 0;
	display: block;
}

form{
	color: white;
}


#n3{
	position: absolute;
	width: 30%;
	top: -5%;
	left: -5%;
}

hr { 
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 10%;
	margin-right: 10%;
	border-width: 2px;
	border-color: #ffffff17;
  }

  #b1{
	border-radius: 30px;
	color: white;
	padding: 1px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
  }

#b2{
	border-radius: 30px;
	color: white;
	padding: 1px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

#b3{
	border-radius: 30px;
	color: white;
	padding: 1px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
}

.top{
	padding-top: 10px;
	padding-bottom: 5px;
}

#cilogo{
	position: fixed;
	width: 6%;
	left: 0.3%;
	bottom: 0.5%;
	opacity: 0.44;
}

#p_menu{
	position: absolute;
	color: #000000;
	top: 2%;
	left: 46%;
}

.vl {
	border-left: 4px solid black;
	height: 500px;
	position: absolute;
	top: 15%;
	left: 50%;
  }

#vl2{
	border-left: 2px solid rgba(255, 255, 255, 0.11);
	height: 80%;
	top: 12%;
	left: 37%;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #FDD13A;
	background-color: #FDD13A;
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	margin-top: 30px;
	margin-left: 65%;
	
  }
  
  .overlay a {
	padding: 0px;
	text-decoration: none;
	font-size: 80px;
	color: #000000;
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #777676;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 0;
	right: 5px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }
  
